

/*Navbar background orange color: #ff9933*/


body {
  background: url(/static/images/9726346115_65903826c0_c.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{padding-top:30px;}

.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}

.panel-default { opacity: 0.9; margin-top:75px;}
.form-group.last { margin-bottom:0px; }

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px;}

#register_box {
	opacity: 0.9;
	padding-top:20px;
	margin-left: auto;
	margin-right: auto;
	margin-top:75px;
}

.form-control { margin-bottom: 10px; }

.media
{
  /*box-shadow:0px 0px 4px -2px #000;*/
  margin: 20px 0;
  padding:30px;
}
.dp
{
  border:10px solid #eee;
  transition: all 0.2s ease-in-out;
}
.dp:hover
{
  border:2px solid #eee;
  transform:rotate(360deg);
  -ms-transform:rotate(360deg);  
  -webkit-transform:rotate(360deg);  
  /*-webkit-font-smoothing:antialiased;*/
}

#footer {
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #f5f5f5;
	opacity: 0.7;
	margin-top: 100px;
}

/*#push, #footer{
	height: 100px;
}*/



#custom-search-form {
    margin:0;
    margin-top: 5px;
    padding: 0;
}

#custom-search-form .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-form button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.search-query:focus + button {
    z-index: 3;   
}









.multiselect-container{position:absolute;list-style-type:none;margin:0;padding:0}.multiselect-container .input-group{margin:5px}.multiselect-container>li{padding:0}.multiselect-container>li>a.multiselect-all label{font-weight:bold}.multiselect-container>li>label.multiselect-group{margin:0;padding:3px 20px 3px 10px;height:100%;font-weight:bold;}.multiselect-container>li>a>label{margin:0;height:100%;cursor:pointer;font-weight:normal}.multiselect-container>li>a>label.radio,.multiselect-container>li>a>label.checkbox{margin:0}.multiselect-container>li>a>label>input[type="checkbox"]{margin-bottom:5px}.btn-group>.btn-group:nth-child(2)>.multiselect.btn{border-top-left-radius:4px;border-bottom-left-radius:4px}

.row {margin-bottom: 20px;}

.btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}



.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 35px;
  font-family:"Quinfo";
  line-height: 20px;
}

@font-face {
  font-family: "Quinfo";
  src: url(/static/fonts/QuinfoBOLD.otf) format("opentype");
}

.Quinfo {font-family: "Quinfo", verdana, helvetica, sans-serif;
}



.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #e8e8e8;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f5f5f5), to(#e8e8e8));
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #357ebd;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#428bca), to(#357ebd));
  background-image: -webkit-linear-gradient(top, #428bca 0%, #357ebd 100%);
  background-image: -moz-linear-gradient(top, #428bca 0%, #357ebd 100%);
  background-image: linear-gradient(to bottom, #428bca 0%, #357ebd 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
}
