{% extends "master.html" %}

{% block body %}
<div class="calendar">
<form method="post" class="form-vertical" role="form">
    <div class="form-group">
        <label for="name" class="col-sm-3 control-label">Trip name</label>
        <div class="col-sm-9">
            <input type="text" name="trip_name" class="form-control" placeholder="Give your trip a name">
        </div>
    </div>

<!--   <div class="form-group">
        <label for="destination" class="col-sm-3 control-label">Where are you going?</label>
        <div class="col-sm-9">
            <input type="text" name="destination" class="form-control" placeholder="Destination">
        </div>
    </div>  -->

    <div class="form-group">
        <label for="start_date" class="col-sm-3 control-label">Starts: </label>
        <div class="col-sm-9">
            <input type="date" name="start_date" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label for="end_date" class="col-sm-3 control-label">Ends: </label>
        <div class="col-sm-9">
            <input type="date" name="end_date" class="form-control"/>
        </div>
    </div>
    

    <div class="form-group">
        <label for="activities" class="col-sm-3 control-label">Activities: </label>
        <div class="col-sm-9">
            <select id="mySelect" name="activity">
                <option> </option>
                <option value="1">Surfing</option>
                <option value="2">Swimming</option>
                <option value="3">Scuba Diving</option>
                <option value="4">Camping</option>
            </select>
        </div>
    </div>



    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-7">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>

</form>
</div>
{% endblock %}