<html>
    <head>
        <meta charset="utf-8">
        <title>PackingZen</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link href="/static/css/main.css" rel="stylesheet">
        <script type="text/javascript" src="/static/js/bootstrap.js"></script>
        <script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
    </head>

    <body>
        <div class="page-header">
            <h1>PackingZen<small> Relax for your trip</small></h1>
        </div>
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">...</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">PackingZen</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% if not current_user.is_authenticated() %}
                                <li><a href="{{ url_for('login') }}">Login</a></li>
                                <li><a href="{{ url_for('register') }}">Register</a></li>
                                </li>
                                {%else%}
                                <li><a href="/new_trip">Create a Trip</a></li>
                                <li><a href="/profile/{{current_user.username}}">Home</a></li>
                                </li>
                                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                                {%endif%}                
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="container">
            <ul>
            {% for message in get_flashed_messages() %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>

            {% block body %}
            
            {% endblock %}
        </div>

    </body>

</html>



<!-- Another One -->

    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="navbar-brand" href="/">PackingZen</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="divider-vertical"></li>
                <li><a href="{{url_for('profile', username=current_user.username)}}"> Profile</a></li>
                <li class="divider-vertical"></li>
                <li><a href="/new_trip"> New Trip</a></li>
              </ul>
              <div class="pull-right">   
                <ul class="nav pull-right">
                  <li class="divider-vertical"></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{current_user.username}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="/settings">Settings</a></li>
                      <li class="divider"></li>
                      <li><a href="/logout">Sign Out</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div><!-- /.nav-collapse -->
          </div>
        </div><!-- /navbar-inner -->
      </div>
    </nav>

























<!-- Start of a new nav bar  


      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">


<!           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">PackingZen</a> -->

          <!--now it starts -->

<!--           <div class="navbar-inner">
            <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a class="navbar-brand" href="/">PackingZen</a>

              <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="divider-vertical"></li>
                    <li><a href="{{url_for('profile', username=current_user.username)}}"><i class="icon-home icon-white"></i> Profile</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="/new_trip">New Trip</a></li>
                </ul>
                <div class="pull-right">
                  <ul class="nav pull-right">
                      <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{{current_user.username}}<span class="glyphicon glyphicon-user"><b class="caret"></b></span></a>
                          <ul class="dropdown-menu">
                              <li><a href="{{url_for('settings')}}"><i class="icon-cog"></i> Settings</a></li>
                              <li class="divider"></li>
                              <li><a href="/logout"><i class="icon-off"></i> Sign Out</a></li>
                          </ul>
                      </li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
      </nav>

    {%endif%}

      <div class="container">
        <div class="center-block">

          {% block body %}
          
          {% endblock %}

        </div>
        <div class="footer">
          <div class="row-fluid">
              <div class="span12">
                  <div class="span2" style="width: 15%;">
                    <ul class="unstyled">
                      <li>Contact<li>
                      <li><a href="https://github.com/Obviousthought/PackItDuck">Source Code</a></li>
                      <li><a href="#">Blog</a></li>
                      <li><a href="#">Contact</a></li>
                    </ul>
                  </div>
                <div class="span2" style="width: 15%;">
                  <ul class="unstyled">
                    <li>Application<li>
                    <li><a href="https://github.com/Obviousthought/PackItDuck">Github</a></li>              
                  </ul>       
                </div>
            </div>
            <hr>
            <div class="row-fluid">
              <div class="span12">
                <div class="span4">
                  <p class="muted pull-right">© 2013 PackingZen. All rights reserved</p>
                </div>
              </div>
            </div>
          </div>   
        </div>     
      </div> -->





<!--           <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings</a></li>
                  <li class="divider"></li>
                  <li><a href="/logout">Logout</a></li>
                </ul>
              </div>
            </li>
          </ul> -->




<!--           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="{{url_for('profile', username=current_user.username)}}">Profile</a></li>
              <li><a href="/new_trip">New Trip</a></li>
              <li><a href="{{ url_for('settings')}}">Settings</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </div> -->







