{% extends 'master.html' %}


{% block body %}

{% for message in get_flashed_messages() %}
      <p>{{ message }}</p>
{% endfor %}


<h2>Trip: {{trip_name}}</h2>
</br>

{%if activity != None %}
<h3>Activity: {{activity.name}}</h3>
{% endif %}

</br>
{% if start_date != None %}
<h3>Start Date: {{start_date}}</h3>
{%endif%}
</br>
{%if end_date != None%}
<h3>End Date: {{end_date}}</h3>
{%endif%}
</br>
<div>
	<ul>
		{% for item in list_of_items %}

		<li>Item: {{item}}</li>

		{% endfor %}

	</ul>
</div>


<div class="container">
	<div class="row">
		<input type="hidden" name="count" value="1" />
        <div class="control-group" id="fields">
            <label class="control-label" for="field1">Add more items!</label>
            <div class="controls" id="profs"> 
                <div class="input-append">
                    <input autocomplete="off" class="span3" id="field1" name="prof1" type="text" placeholder="Type in an item" data-provide="typeahead" data-items="8" data-source='["Aardvark","Beatlejuice","Capricorn","Deathmaul","Epic"]'/><button id="b1" class="btn btn-info add-more" type="button">+</button>
                </div>
            <br>
            <small>Press + to add more items!</small>
            </div>
        </div>
	</div>
</div>



{% endblock %}