{% extends 'master.html' %}

{% block body %}
  <div class="jumbotron">
    <h1>Welcome to PackingZen!</h1>
      <p>Prepare for your next trip using this packing list generator.</p>
	<form class="registering" method="POST" action="/register">
	    <h2 class="registering-heading">Register a new account</h2>	    
	    <input type="text" class="form-control" placeholder="email" name="email">
	    <input type="text" class="form-control" placeholder="username" name="username">
	    <input type="password" class="form-control" placeholder="password" name="password">
	    <input type="password" class="form-control" placeholder="verify password" name="password_verify">
	    {% for message in get_flashed_messages() %}
	    	<p>{{ message }}</p>
	    {% endfor %}
	    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Submit">
	</form>
  </div>


{% endblock %}


